     <nav class="navbar bg-body-tertiary bgcolor">
        <div class="container-fluid ">
          <a class="navbar-brand ms-5" href="#">
            <img src="assets/images/hotel logo3.png" alt="Logo" width="60" height="60" class="ms-2"><br>
            <span class=" logocolor fs-6 fw-bolder ">Hotel</span><span class=" logotext fs-6 fw-bolder">Club</span>
              class="d-inline-block align-text-top ms-5">
          
          </a>
          <div class="text-end me-4">
            <a class="me-2 text-decoration-none text-white fw-semibold">About Us</a>
            <a class="ms-2 text-decoration-none cursor text-white fw-semibold">Login</a>
            <!-- <a class="ms-2 text-decoration-none cursor" *ngIf="isUserLoggedIn"><span>{{userDetails.UserName}}</span></a> -->
            <!-- <i class="bi bi-cart ms-3 fs-4 cursor"  routerLink="/cart" ></i><span class="rounded-circle bg-danger text-white cartIcon px-1">{{ cartCounter}}</span>
            <a class="ms-2 text-decoration-none cursor" (click)="logoutAction()" *ngIf="isUserLoggedIn">LogOut</a> -->
          </div>
        </div>
      </nav> 