<div class="container-fluid maincontainer" style="height:20rem;">
 <div class="row text-center">
<h5 class="mt-2">HOTELS,RESORTES,HOSTELS &MORE</h5>
<h6>SELECT PACKAGES</h6>
 </div>
</div>
<div class="container containerwidth shadow rounded-4">
    <div class="pt-5 ms-5 w-75 text-center">
        <div class="input-group mb-3 pt-4">
            <select class="form-select" id="inputGroupSelect02" (change)="onLocationChange($event)">
                <option *ngFor="let item of getLocationData">{{item.location}}</option>
                <option selected>Select location</option>
              </select>
            <label for="dateInput"></label> 
             <input type="date" class="form-control" id="dateInput" (change)="selectedDate($event)">    
             <input type="search" class="form-control" id="searcbox">
             <button type="button" for="searcbox" class=" btn btn-outline-secondary">search</button>
     </div>
    </div>
    </div>
    <div class="container w-75 border shadow headingcontainer rounded-4" style="height:5rem;">
        <div class="d-flex justify-content-around mt-1">
            <div class="row"  *ngFor="let item of packageName" (click)="showPackages(item)">
            <a class="cursor text-decoration-none text-center">
                <img [src]="item.packageLogo"alt="" style="height: 3rem; width: 3rem;">
                <h6>{{item.name}}</h6>
            </a>
        </div>
        </div>
    </div>
    <div *ngIf="showLocation">
        <app-hotel-preferences [getLocationData]="filterData"></app-hotel-preferences>
    </div>
    <div *ngIf="showAlllocations">
        <app-hotel-preferences [getLocationData]="filterData"></app-hotel-preferences>
    </div>
    

<!-- <app-hotel-preferences [hotelList]=" getLocationData"></app-hotel-preferences> -->