
    <div class="container cardContainer mt-4 bg-secondary">
    <div class="row d-flex justify-content-around mt-4 p-3">
        <div class="card m-4 p-1 rounded shadow" style="width: 19rem;" *ngFor="let item of  getLocationData">
            <img [src]="item.packageImg" class="m-1" alt="..." style="width:18rem; height: 12rem;">
            <div class="card-body">
              <h5 class="card-title fw-semibolder">{{item.name}}</h5>
              <p class="card-text fw-semibolder fs-5">{{item.location}}</p>
             <button type="button" class="btn btn-outline-primary" [routerLink]="['/hotelList',item.id]">view</button>
            </div>
          </div>
    </div>
</div>
<!-- <div *ngFor="let hotel of hotelList"></div> -->