.containerwidth{
    width: 80%;
   height: 300px;
   position:relative;
   top: -200px;
   background-color: aliceblue;
}
.cardContainer{

    position: relative;
    bottom: 200px;
    border-radius: 12px;
    width: 85%;
}